#worker{
    height: 40px;
}
.links{
    display: flex;
    gap: 1rem;
    list-style: none;
}
#companyName{
    font-family: Nunito, serif;

}

#slogan{
    color: rgb(176, 49, 33);
    font-family: Bungee, serif;

}

#info{
    font-family: Nunito, serif;
}

#about{
    font-family: Nunito, serif;
}

#ant{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#caulk{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

